{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <form method="post">
            <h1>{{type}} item for: {{name}} </h1>
            {% csrf_token %}
            {{form.as_p}}
            <button type="Submit">{{type}}</button>
        </form>
    </div>
</main>
{% endblock content %}