{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <form method="post">
            <h1>Are You Sure?</h1>
            {% csrf_token %}
            <button>Delete</button>
        </form>
    </div>
</main>

 {% endblock %}