{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>{{ list_set.name }}</h1>
        <p><a href="{% url "todo_list_update" list_set.id %}">Edit</a></p>
        <p><a href="{% url "todo_list_delete" list_set.id %}">Delete</a></p>

        <h2>Tasks</h2>
        <table>
            <tr>
                <th>Task</th>
                <th>Due date</th>
            </tr>
            {% for item in items%}
                <tr>
                    <td><a href="{% url "todo_item_update" item.id %}">{{ item.task }}</a></td>
                    <td>{{ item.due_date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock content %}