{% extends 'base.html' %}

{% block content %}
        <main>
            <div>
                <h1>My Lists</h1>
                <p><a href="{% url "todo_list_create" %}">Create new list</a></p>
                <p><a href="{% url "todo_item_create" %}">Create new Item</a></p>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                    {% for item in list %}
                        <tr>
                            <td><a href="{% url "todo_list_detail" item.id %}">{{ item.name }}</a></td>
                            <td>{{ item.todo_count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
{% endblock content %}