<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <header>
        <nav>
            <a href="{% url "todo_list_list" %}">Home</a>
        </nav>
    </header>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>